/*
.wrapper {
    width: 1200px;
}

html {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    line-height: 1.5;
    width: 1200px;
    margin: 0;
}

header {
    background-color: black;
    width: 1200px;
}

nav {
    display: flex;
    Justify-content: space-between;
    align-items: center;
    background-size: 100%;
    margin-left: 3rem;
}

header ul {
    display: flex;
    flex-direction: row;
}

header .h2 {
    color:#fff;
    justify-content: flex-start;
    padding-left: 150px;
    font-weight: normal; 
}

header ul li {
    text-align: right;
    padding-right: 3rem;
    padding-left: 3rem;
    list-style: none;
}

h4 {
    color: #fff;
    font-weight: normal;
    font-size: 1.25rem;
}

h5 {
    font-weight: normal;
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Wix Madefor Display', sans-serif;
}

h2 {
    font-size: 2rem;
    font-family: 'Wix Madefor Display', sans-serif;
}

a {
    color:#fff;
    text-decoration: none;
}

.wrapper {
    background-color: #7251B5;
    display: block;
    width: 1200px;
}

.wrapper .text {
    padding-left: 5rem;
    padding-top: 4rem;

}

.logo {
    width: 1200px;
}

.favourites {
    background-color: #000;
}

.team {
    background-color: #7251B5;
}

footer {
    text-align: center;
    background-color: #000;
    line-height: 40px;
}

*/