.wrapper {
    width: 1280px;
}

html {
    font-family: Nunito;
    color: #fff;
    line-height: 1.5;
    width: 1200px;
    margin: 0;
}

header {
    background-color: black;
    width: 1200px;
}

nav {
    display: flex;
    Justify-content: space-between;
    align-items: center;
    background-size: 100%;
    margin-left: 3rem;
}

header ul {
    display: flex;
    flex-direction: row;
}

header .h2 {
    color:#fff;
    justify-content: flex-start;
    padding-left: 150px;
    font-weight: normal; 
}

header ul li {
    text-align: right;
    padding-right: 3rem;
    padding-left: 3rem;
    list-style: none;
}

h4 {
    color: #fff;
    font-weight: normal;
    font-size: 1.25rem;
}